package {{.TaskName}}

import (
    "context"
    "scheduler_task_system/internal/app"
    "scheduler_task_system/internal/core/port"
)

type executer struct{} // depende de repositório? injeta aqui

func New() port.TaskExecuter { return &executor{} }

func (e *executer) Execute(ctx context.Context, p []byte) error {
    // lógica executar sua tarefa aqui
    return nil
}

func init() {
    app.Default.Register({{.TaskName}}, New)
}
